.fire .loader {
}
.fire .loader-bg {
  border-color: #333;
  box-shadow: inset 2px 2px 20px 0 rgba(0,0,0,0.4);
}
.fire .text {
  font-size: 20px;
  color: #ffec03 !important;
}
.fire .loader-spinner {
  border-color: #ffec03;
}