/*Add attribute data-circle-skin = "fire" to the div */
/*Note :- This looks best on dark backgrounds*/
.fire .loader {
}
.fire .loader-bg {
  border-color: #333;
  box-shadow: inset 2px 2px 20px 0 rgba(0,0,0,0.4);
}
.fire .text {
  font-size: 20px;
  color: #ee4230 !important;
}
.fire .loader-spinner {
  border-color: #ee4230;
}
.fire.circle-loaded-75 .text {
  color: #c6594e !important;
}
.fire.circle-loaded-75 .loader-spinner {
  border-color: #c6594e;
}
/*
On dark bg -->
green : #47ba49
purple : #7b708d
blue : #3ba8b6
red : #ee4230;
*/