/*Add attribute data-circle-skin = "green" to the div */
/*Note :- This looks best on dark backgrounds*/
.green .loader-bg {
  border-color: rgba(255,255,255,0.1);
  box-shadow: inset 2px 2px 20px 0 rgba(0,0,0,0.1) !important;
}
.green .text {
  font-size: 20px;
  color: #006A00 !important;
}
.green .loader-spinner {
  border-color: #006A00;
}
.green.circle-loaded-75 .text {
  color: #00FF00 !important;
}
.green.circle-loaded-75 .loader-spinner {
  border-color: #00FF00;
}
