.loader-bg {
  border-color: rgba(255,255,255,0.4);
  box-shadow: 2px 2px 20px 0 rgba(0,0,0,0.6);
}
.text {
  color: rgb(135, 206, 235) !important;
  font-weight: bold;
}
.loader-spinner {
  border-color: rgb(135, 206, 235);
}