.loader {
  width: 150px;
  height: 150px;
}
.loader-bg {
  border: 5px solid #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  /*box-shadow: inset 2px 2px 20px 0 rgba(0,0,0,0.4);*/
}
.text {
  font-size: 20px;
  color: rgb(135, 206, 235);
  font-weight: bold;
}
.loader-spinner {
  border: 5px solid rgb(135, 206, 235);
}